<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Dashboard <small>Admin Panel</small>
        </h1>
        <ol class="breadcrumb">
            <li class="active">
                <i class="fa fa-dashboard"></i> Dashboard
            </li>
        </ol>
    </div>
</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-12">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum pariatur, incidunt inventore adipisci tempora illo dignissimos laboriosam quos qui cumque fugit quasi mollitia aliquid sunt, dolor autem beatae ipsa ullam.</p>
        <p>Magni ipsa vero, impedit iste ea laudantium saepe soluta quia voluptatem provident mollitia rerum magnam incidunt ad, voluptas a amet, veniam dolor sapiente maxime natus odit doloremque libero consectetur! Fugiat.</p>
        <p>Quo placeat quod esse quas rem saepe, deleniti, harum culpa at amet fuga ut velit a beatae. Sit, veniam explicabo est, dolorem, porro blanditiis ex fugit aspernatur, numquam minima quam.</p>
        <p>Dolore accusamus aliquid debitis, quaerat vel quae assumenda a harum consequuntur perferendis deserunt, illum maiores nobis molestiae illo, provident aspernatur explicabo quis voluptatem ut. Fugiat esse dolorem accusantium temporibus ea!</p>
        <p>Ipsa sapiente repellat adipisci vel, dolore saepe facilis fuga voluptatem repudiandae amet iure cupiditate! Odio consectetur unde fugit, magni nihil libero aliquam illo, veniam doloribus laborum, error molestias repudiandae dolorum!</p>
        <p>Ipsa sapiente repellat adipisci vel, dolore saepe facilis fuga voluptatem repudiandae amet iure cupiditate! Odio consectetur unde fugit, magni nihil libero aliquam illo, veniam doloribus laborum, error molestias repudiandae dolorum!</p>
        <p>Ipsa sapiente repellat adipisci vel, dolore saepe facilis fuga voluptatem repudiandae amet iure cupiditate! Odio consectetur unde fugit, magni nihil libero aliquam illo, veniam doloribus laborum, error molestias repudiandae dolorum!</p>
        <p>Ipsa sapiente repellat adipisci vel, dolore saepe facilis fuga voluptatem repudiandae amet iure cupiditate! Odio consectetur unde fugit, magni nihil libero aliquam illo, veniam doloribus laborum, error molestias repudiandae dolorum!</p>
        <p>Ipsa sapiente repellat adipisci vel, dolore saepe facilis fuga voluptatem repudiandae amet iure cupiditate! Odio consectetur unde fugit, magni nihil libero aliquam illo, veniam doloribus laborum, error molestias repudiandae dolorum!</p>            
    </div>
</div>
<!-- /.row -->
