<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Dashboard <small>Admin Panel</small>
        </h1>
        <ol class="breadcrumb">
            <li class="active">
                <i class="fa fa-dashboard"></i> Dashboard
            </li>
        </ol>
    </div>
</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-12">
        <p>Selamat datang di Admin Panel BLOG ENGINE! Pada halaman ini, anda dapat melakukan berbagai operasi-operasi Manajamen Operasional</p>
        
        <p>Adapun operasi operasi yang dapat dilakukan adalah sebagai berikut : </p>
        <ul>
          <li><a href="#tambah-user">Tambah User Baru,</a></li>
          <li><a href="#kelola-user">Kelola User berupa Penaikan Status User menjadi Admin (dan sebaliknya),</a></li>
          <li><a href="#kategori">Kategori, yang meliputi : 
              <ul>
                  <li>Tambah Kategori Baru,</li>
                  <li>Edit Nama Kategori, dan</li>
                  <li>Hapus Kategori yang Tidak Terpakai.</li>
              </ul>
          </a></li>
        </ul>

        <p>Adapun keterbatasan operasi-operasi yang berkaitan dengan Edit Data User maupun Post tidak diberikan karena dianggap melanggar Privasi dari Pemilik Data atau Post yang bersangkutan.  </p>
        <p>Meskipun demikian, selaku Admin Anda tetap bertanggung jawab terhadap semua permasalahan yang terjadi dan berhubungan dengan Operasional Web.</p>
        <p>Untuk itu, mohon kerjasama Anda untuk tidak melakukan tindakan yang semena-mena. Terima Kasih. </p>
        <p class="text-right"><br>Hormat Kami,</p>
        <p class="text-right">Owner Web</p>         
    </div>
</div>
<!-- /.row -->
