<!DOCTYPE html>
<html lang="en" ng-app="adminpanel">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title> Admin Panel | BLOG ENGINE</title>

    <!-- Bootstrap Core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/stylesheets/admin/sb-admin.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body ng-controller="adminpanelMainCtrl">

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#dashboard">BLOG ENGINE</a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> <b class="caret"></b></a>
                    <ul class="dropdown-menu message-dropdown">
                        <li class="message-preview">
                            <a href="#">
                                <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="">
                                    </span>
                                    <div class="media-body">
                                        <h5 class="media-heading"><strong>John Smith</strong>
                                        </h5>
                                        <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="message-preview">
                            <a href="#">
                                <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="">
                                    </span>
                                    <div class="media-body">
                                        <h5 class="media-heading"><strong>John Smith</strong>
                                        </h5>
                                        <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="message-preview">
                            <a href="#">
                                <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="">
                                    </span>
                                    <div class="media-body">
                                        <h5 class="media-heading"><strong>John Smith</strong>
                                        </h5>
                                        <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="message-footer">
                            <a href="#">Read All New Messages</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> <b class="caret"></b></a>
                    <ul class="dropdown-menu alert-dropdown">
                        <li>
                            <a href="#">Alert Name <span class="label label-default">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-primary">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-success">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-info">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-warning">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-danger">Alert Badge</span></a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">View All</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> <span ng-bind="loggedUser.nama"></span> <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li ng-click="gotoUserPage()">
                            <a href=""><i class="fa fa-fw fa-user"></i> Pergi ke Halaman User</a>
                        </li>
<!--                         <li>
                            <a href=""><i class="fa fa-fw fa-envelope"></i> Inbox</a>
                        </li>
                        <li>
                            <a href=""><i class="fa fa-fw fa-gear"></i> Settings</a>
                        </li> -->
                        <li class="divider"></li>
                        <li ng-click="logout()">
                            <a href=""><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li ng-class="clsmenu1">
                        <a href="#dashboard"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                    </li>
                    <li ng-class="clsmenu2">
                        <a href="#user"><i class="fa fa-fw fa-user"></i> User</a>
                    </li>
                    <li ng-class="clsmenu3">
                    	<a href="#kategori"><i class="fa fa-fw fa-comment"></i> Kategori</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid ng-view">

            </div>
            <!-- /.container-fluid ng-view -->

        </div>
        <!-- /#page-wrapper -->

        <div class="modal fade modal-new-post" id="failedLoad" tabindex="-1" role="dialog" aria-labelledby="failedLoadLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="panel-title" id="failedLoadLabel"><span class="glyphicon glyphicon-remove"></span> Oops... </h4>
                    </div>
                    <div class="modal-body" style="padding: 5px;">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12" style="padding : 10px; margin-left: 20px;">
                                Koneksi internet anda tidak stabil. Mohon periksa kembali koneksi internet anda!
                            </div>
                        </div>
                    </div>  
                    <div class="panel-footer" style="text-align: right;">
                        <button type="button" class="btn btn-default btn-close" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade modal-new-post" id="failedTemper" tabindex="-1" role="dialog" aria-labelledby="failedTemperLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="logout()">×</button>
                        <h4 class="panel-title" id="failedTemperLabel"><span class="glyphicon glyphicon-warning-sign"></span> Peringatan! </h4>
                    </div>
                    <div class="modal-body" style="padding: 5px;">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12" style="padding : 10px; margin-left: 20px;">
                                Terjadi percobaan peratasan! Proses log-out akan dilakukan! 
                            </div>
                        </div>
                    </div>  
                    <div class="panel-footer" style="text-align: right;">
                        <button type="button" class="btn btn-default btn-close" data-dismiss="modal" ng-click="logout()">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade modal-new-post" id="failedAdmin" tabindex="-1" role="dialog" aria-labelledby="failedAdminLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="logout()">×</button>
                        <h4 class="panel-title" id="failedAdminLabel"><span class="glyphicon glyphicon-warning-sign"></span> Mohon Maaf... </h4>
                    </div>
                    <div class="modal-body" style="padding: 5px;">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12" style="padding : 10px; margin-left: 20px;">
                                Status Admin Anda telah dilepas. Anda akan dikembalikan ke Halaman Utama. 
                            </div>
                        </div>
                    </div>  
                    <div class="panel-footer" style="text-align: right;">
                        <button type="button" class="btn btn-default btn-close" data-dismiss="modal" ng-click="logout()">Close</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="/javascripts/vendor/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/javascripts/vendor/bootstrap.min.js"></script>

    <!-- Angular -->
    <script src="/javascripts/vendor/angular/angular.js"></script>

    <!-- Angular Route untuk keperluan Routing FrontEnd -->
    <script src="/javascripts/vendor/angular/angular-route.js"></script>

    <!-- Angular ngStorage untuk keperluan pengelolaan token pada local Storage -->
    <script src="/javascripts/vendor/angular/angular-ngStorage.js"></script>

    <!-- Angular Pagination untuk mempermudah pembuatan Paging (numbered) -->
    <script src="/javascripts/vendor/angular-utils-pagination/dirPagination.js"></script>

    <!-- Angular Module Admin Panel -->
    <script src="/javascripts/custom/admin/adminpanel-angular-module.js"></script>

    <!-- Angular Service Admin Panel -->
    <script src="/javascripts/custom/admin/adminpanel-service.js"></script>

    <!-- Angular Controller Admin Panel -->
    <script src="/javascripts/custom/admin/adminpanel-controller.js"></script>

    <!-- Angular Routing Admin Panel -->
    <script src="/javascripts/custom/admin/adminpanel-routing.js"></script>

    <!-- Angular Post Directives untuk Admin Panel -->
    <!-- <script src="/javascripts/custom/admin/adminpanel-directives/post.js"></script> -->

    <!-- Angular Friend Directives untuk Admin Panel -->
    <!-- <script src="/javascripts/custom/admin/adminpanel-directives/friend.js"></script> -->

</body>

</html>
