<html ng-app="bloguser">
	<head>
		<title>{{ title }}</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<script   src="https://code.jquery.com/jquery-2.2.3.min.js"   integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="   crossorigin="anonymous"></script>
		<link rel="stylesheet" type="text/css" href="/stylesheets/app/bloguser.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

		<!-- Custom Fonts -->
	    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
	    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
	</head>

	<body ng-controller="bloguserCtrl">
		<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
	      <div class="container">
	        <!-- Brand and toggle get grouped for better mobile display -->
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-3">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a class="navbar-brand" href="#beranda">BLOGENGINE</a>
	        </div>
	    
	        <!-- Collect the nav links, forms, and other content for toggling -->
	        <div class="collapse navbar-collapse" id="navbar-collapse-3">
	          <ul class="nav navbar-nav navbar-right">
	            <li><a href="#beranda">BERANDA</a></li>
	            <li><a href="#pertemanan">PERTEMANAN</a></li>
	            <li><a href="#profil">{{name}}</a></li>
	            <li><a href="">LOG OUT</a></li> <!-- Koneksi ke server -->
	          </ul>
	        </div><!-- /.navbar-collapse -->
	      </div><!-- /.container -->
	    </nav><!-- /.navbar -->

		<div class="ng-view">
            
        </div>

        <!-- Custom Theme JavaScript -->
        <script src="/javascripts/bloguser.min.js"></script>
    	
    	<!-- Angular -->
        <script src="/javascripts/angular/angular.js"></script>

        <!-- Angular Route -->
        <script src="/javascripts/angular/angular-route.js"></script>

        <!-- Angular Module -->
        <script src="/javascripts/angular/bloguser-angular-module.js"></script>

        <!-- Angular Controller -->
        <script src="/javascripts/angular/bloguser-controller.js"></script>

        <!-- Angular Routing -->
        <script src="/javascripts/angular/bloguser-routing.js"></script>

        <!-- Angular Post Directives -->
        <script src="/javascripts/angular/bloguser-directives/post.js"></script>

        <!-- Angular Friend Directives -->
        <script src="/javascripts/angular/bloguser-directives/friend.js"></script>

	
	</body>
</html>