<html ng-app="bloguser">
	<head>
		<title>{{ title }}</title>

		<!-- Jquery dan Bootstrap -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<script   src="https://code.jquery.com/jquery-2.2.3.min.js"   integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="   crossorigin="anonymous"></script>
		<link rel="stylesheet" type="text/css" href="/stylesheets/app/bloguser.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

		<!-- Custom Fonts -->
	    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
	    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

	</head>

	<body ng-controller="bloguserCtrl">
		<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
	      <div class="container">
	        <!-- Brand and toggle get grouped for better mobile display -->
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-3">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a class="navbar-brand" href="#beranda">BLOGENGINE</a>
	        </div>
	    
	        <!-- Collect the nav links, forms, and other content for toggling -->
	        <div class="collapse navbar-collapse" id="navbar-collapse-3">
	          <ul class="nav navbar-nav navbar-right">
	            <li><a href="#beranda">BERANDA</a></li>
	            <li><a href="#pertemanan">PERTEMANAN</a></li>
	            <li><a href="#profil">{{name}}</a></li>
	            <li ng-click="logout()"><a href="">LOG OUT</a></li> <!-- Koneksi ke server -->
	          </ul>
	        </div><!-- /.navbar-collapse -->
	      </div><!-- /.container -->
	    </nav><!-- /.navbar -->

		<div class="ng-view">
            
        </div>

        <div class="new-post" ng-controller="postCtrl">
        	<a class="btn btn-primary btn-lg btn-new-post" data-toggle="modal" data-target="#newPost" data-original-title ng-click="initNewPostModal()">
	          <span class="glyphicon glyphicon-pencil"></span> <div class="hidden-xs" style="display: inline-block;">Buat Post Baru</div>
	        </a>
	        <div class="modal fade modal-new-post" id="newPost" tabindex="-1" role="dialog" aria-labelledby="newPostLabel" aria-hidden="true">
	            <div class="modal-dialog">
	                <div class="panel panel-primary">
	                    <div class="panel-heading">
	                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	                        <h4 class="panel-title"><span class="glyphicon glyphicon-pencil"></span> <span id="newPostLabel">Buat Post Baru</span></h4>
	                    </div>
	                    <form action="" method="" id="formNewPost" accept-charset="utf-8" onsubmit="return false;" ng-submit="submitPost()">
                    	<div class="modal-body" style="padding: 5px;">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12" style="padding-bottom: 10px;">
                                    <input id="titleInput" class="form-control" name="title" placeholder="Masukkan Judul Post Anda" type="text" ng-model="currentPost.title" ng-change="cekValiditas()" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12" style="padding-bottom: 10px;">
                                    <textarea ui-tinymce="tinymceOptions" id="contentInput" class="form-control" name="content" ng-model="currentPost.body"></textarea>
                                </div>
                            </div>
                            <div class="row">
                            	<div class="col-lg-12 col-md-12 col-sm-12" style="padding-top: 0px;padding-bottom: 4px;">
                                    <div class="form-group">
										<label for="categoryInput">Kategori Post : * </label>
								     	<select class="form-control" id="categoryInput" required ng-model="currentPost.kategori_id"  ng-options="category.id as category.nama for category in listOfCategories">
										    <option value="">Pilih Kategori Post</option>
									    </select>
						                <p class="help-block">*Bersifat wajib.</p>
						            </div>
                                </div>                         
                            </div>
                           	<div class="row">
                            	<div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="form-group">
						                <label for="gbrUtamaInputFile">Gambar Utama : ** </label>
						                <input type="file" id="gbrUtamaInputFile" required />
						                <p class="help-block">**Berupa 1 File Gambar dan Bersifat wajib.</p>
						            </div>
                                </div>                         
                            </div>
                            <div class="row">
	                            <div class="col-lg-12 col-md-12 col-sm-12" >
                                    <div class="form-group">
						                 <label for="gbr2SampinganInputFile">Gambar-Gambar Sampingan : ***</label>
						                <input type="file" id="gbr2SampinganInputFile" multiple />
						                <p class="help-block">***Bisa lebih dari 1 File Gambar dan Bersifat opsional.</p>
						            </div>
                                </div>  
                            </div>
                        </div>  
                        <div class="panel-footer" style="margin-bottom:-14px;">
                            <input type="submit" formmethod="" value="Post" class="btn btn-success disabled" id="btnSubmit" />
                                <!--<span class="glyphicon glyphicon-ok"></span>-->
                            <input type="reset" class="btn btn-danger" value="Clear" id="btnClear" />
                                <!--<span class="glyphicon glyphicon-remove"></span>-->
                            <button style="float: right;" type="button" class="btn btn-default btn-close" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

	        <div class="modal fade modal-new-post" id="failed" tabindex="-1" role="dialog" aria-labelledby="failedLabel" aria-hidden="true">
	            <div class="modal-dialog">
	                <div class="panel panel-danger">
	                    <div class="panel-heading">
	                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	                        <h4 class="panel-title" id="failedLabel"><span class="glyphicon glyphicon-remove"></span> Operasi Gagal! </h4>
	                    </div>
                    	<div class="modal-body" style="padding: 5px;">
                    	 	<div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12" style="padding : 10px; margin-left: 20px;">
                                    Post gagal dibuat! Pastikan koneksi internet anda stabil!
                                </div>
                            </div>
                        </div>  
                        <div class="panel-footer" style="text-align: right;">
                            <button type="button" class="btn btn-default btn-close" data-dismiss="modal">Close</button>
                        </div>
	                </div>
	            </div>
	        </div>

	        <div class="modal fade modal-new-post" id="success" tabindex="-1" role="dialog" aria-labelledby="successLabel" aria-hidden="true">
	            <div class="modal-dialog">
	                <div class="panel panel-success">
	                    <div class="panel-heading">
	                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	                        <h4 class="panel-title" id="successLabel"><span class="glyphicon glyphicon-ok"></span> Operasi Berhasil! </h4>
	                    </div>
                    	<div class="modal-body" style="padding: 5px;">
                    	 	<div class="row">

                                <div class="col-lg-12 col-md-12 col-sm-12" style="padding : 10px; margin-left: 20px;">
                                    Post berhasil dibuat!
                                </div>
                            </div>
                        </div>  
                        <div class="panel-footer" style="text-align: right;">
                            <button type="button" class="btn btn-default btn-close" data-dismiss="modal" ng-click="reloadPage()">Close</button>
                        </div>
	                </div>
	            </div>
	        </div>

	        <div class="modal fade modal-new-post" id="success2" tabindex="-1" role="dialog" aria-labelledby="success2Label" aria-hidden="true">
	            <div class="modal-dialog">
	                <div class="panel panel-success">
	                    <div class="panel-heading">
	                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	                        <h4 class="panel-title" id="success2Label"><span class="glyphicon glyphicon-ok"></span> Operasi Berhasil! </h4>
	                    </div>
                    	<div class="modal-body" style="padding: 5px;">
                    	 	<div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12" style="padding : 10px; margin-left: 20px;">
                                    Post berhasil di-edit!
                                </div>
                            </div>
                        </div>  
                        <div class="panel-footer" style="text-align: right;">
                            <button type="button" class="btn btn-default btn-close" data-dismiss="modal" ng-click="reloadPage()">Close</button>
                        </div>
	                </div>
	            </div>
	        </div>

			<div class="modal fade modal-new-post" id="delete" tabindex="-1" role="dialog" aria-labelledby="deleteLabel" aria-hidden="true">
	            <div class="modal-dialog">
	                <div class="panel panel-danger">
	                    <div class="panel-heading">
	                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	                        <h4 class="panel-title" id="deleteLabel"><span class="glyphicon glyphicon-trash"></span> Delete Post </h4>
	                    </div>
                    	<div class="modal-body" style="padding: 5px;">
                    	 	<div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12" style="padding : 10px; margin-left: 20px;">
                                    Apakah anda yakin ingin menghapus post ini?
                                </div>
                            </div>
                        </div>  
                        <div class="panel-footer" style="text-align: right;margin-bottom:-14px;">
                            <button type="button" class="btn btn-default btn-success" data-dismiss="modal" ng-click="deletePost()">Ya</button>
                            <button type="button" class="btn btn-default btn-danger" data-dismiss="modal">Tidak</button>
                        </div>
	                </div>
	            </div>
	        </div>
	        <div class="modal fade modal-new-post" id="success3" tabindex="-1" role="dialog" aria-labelledby="success3Label" aria-hidden="true">
	            <div class="modal-dialog">
	                <div class="panel panel-success">
	                    <div class="panel-heading">
	                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	                        <h4 class="panel-title" id="success3Label"><span class="glyphicon glyphicon-ok"></span> Operasi Berhasil! </h4>
	                    </div>
                    	<div class="modal-body" style="padding: 5px;">
                    	 	<div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12" style="padding : 10px; margin-left: 20px;">
                                    Post berhasil dihapus!
                                </div>
                            </div>
                        </div>  
                        <div class="panel-footer" style="text-align: right;">
                            <button type="button" class="btn btn-default btn-close" data-dismiss="modal" ng-click="reloadPage()">Close</button>
                        </div>
	                </div>
	            </div>
	        </div>

        </div>

        <!-- Custom Theme JavaScript -->
        <script src="/javascripts/bloguser.min.js"></script>

        <!-- TinyMCE yang berfungsi sebagai widget formatter textarea. Digunakan pada saat Buat / Edit Post -->
		<script src="/javascripts/tinymce/tinymce.min.js"></script>
    	
    	<!-- Angular -->
        <script src="/javascripts/angular/angular.js"></script>

        <!-- Angular Route untuk keperluan Routing FrontEnd -->
        <script src="/javascripts/angular/angular-route.js"></script>

        <!-- Angular ngStorage untuk keperluan pengelolaan token pada local Storage -->
    	<script src="/javascripts/angular/angular-ngStorage.js"></script>

        <!-- Penghubung TinyMCE dengan Angular -->
		<script src="/javascripts/angular-ui-tinymce/tinymce.js"></script>

        <!-- Angular Module User -->
        <script src="/javascripts/angular/bloguser-angular-module.js"></script>
        
        <!-- Angular Service User -->
        <script src="/javascripts/angular/bloguser-service.js"></script>

        <!-- Angular Controller User -->
        <script src="/javascripts/angular/bloguser-controller.js"></script>

        <!-- Angular Routing User -->
        <script src="/javascripts/angular/bloguser-routing.js"></script>

        <!-- Angular Post Directives untuk User -->
        <script src="/javascripts/angular/bloguser-directives/post.js"></script>

        <!-- Angular Friend Directives untuk User -->
        <script src="/javascripts/angular/bloguser-directives/friend.js"></script>

	
	</body>
</html>