<!DOCTYPE html>
<html>
<head>
	<title>{{ title }}</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/styesheets/">
</head>
<body>
 <div class="container">
  <div class="row">
    <div class="span12">
      <div class="hero-unit center">
      	  <center>
	          <h1>Page Not Found <small><font face="Tahoma" color="red">Error 404</font></small></h1>
	          <br />
	          <p>Mohon maaf halaman yang anda cari tidak terdapat pada website ini terimakasih</p>
	          <a href="/" class="btn btn-large btn-info"><i class="icon-home icon-white"></i> KEMBALI KE HOME</a>
          </center>
        </div>
    </div>
</body>
</html>