<div id="panel" class="pannel inner cover registerform">
    <h1 class="cover-heading">LOGIN</h1>
    <form class="form">
        <div class="col-md-4">
            <label>USERNAME</label>
        </div>
        <div class="col-md-8">
            <input id="username" type="text" class="form-control" placeholder ="USERNAME" ng-model="datalogin.username"></input> 
        </div>
        <div class="col-md-4">
            <label>PASSSWORD</label>
        </div>
        <div class="col-md-8">
            <input id="password" type="password" class="form-control" placeholder="PASSWORD" ng-model="datalogin.password"></input> 
        </div>

        <br>
        <p class="lead">
            <a href="" class="btn btn-lg btn-primary" ng-click="login()">LOGIN</a>
        </p>
    </form>
</div>