<div ng-show="info.status_add == 0 && info.status_approve == 0">
<!-- Template 1 : Untuk yang belum add sama sekali -->
    <div class="span2" >
        <img src="{{ info.fotoprofil }}" class="img-circle">
    </div>

    <div class="span8">
        <a href="#person-{{ info.id }}">
            <h3 class="friend-name">{{ info.nama }}</h2>
        </a>
    </div>

    <div class="span2">
        <div class="btn-group">
            <a class="btn dropdown-toggle btn-info" data-toggle="dropdown">
                Action 
                <span class="icon-cog icon-white"></span><span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li ng-click="$parent.requestFriend()"><a role="button"><span class="icon-trash"></span>Add Friend</a></li>
            </ul>
        </div>
    </div>
</div>

<div ng-show="info.status_add == 1 && info.status_approve == 0">
<!-- Template 2 : Untuk yg sudah add tapi belum aprrove -->
    <div class="span2" >
        <img src="{{ info.fotoprofil }}" class="img-circle">
    </div>

    <div class="span8">
        <a href="#person-{{ info.id }}">
            <h3 class="friend-name">{{ info.nama }}</h2>
        </a>
    </div>

    <div class="span2">
        <div class="btn-group">
            <a class="btn dropdown-toggle btn-info" data-toggle="dropdown">
                Requested 
                <span class="icon-cog icon-white"></span><span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li ng-click="$parent.cancelrequestFriend()"><a role="button"><span class="icon-trash"></span>Cancel Request</a></li>
            </ul>
        </div>
    </div>
</div>

<div ng-show="info.status_add == 1 && info.status_approve == 1">
<!-- Template 3 : Untuk yang sudah add dan aprrove -->
    <div class="span2" >
        <img src="{{ info.fotoprofil }}" class="img-circle">
    </div>

    <div class="span8">
        <a href="#person-{{ info.id }}">
            <h3 class="friend-name">{{ info.nama }}</h2>
        </a>
    </div>

    <div class="span2">
        <div class="btn-group">
            <a class="btn dropdown-toggle btn-info" data-toggle="dropdown">
                Friend 
                <span class="icon-cog icon-white"></span><span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li ng-click=""><a role="button"><span class="icon-trash"></span>Go to Profile</a></li>
                <li ng-click="$parent.delete()"><a role="button"><span class="icon-trash"></span>Remove Friend</a></li>
            </ul>
        </div>
    </div>
</div>