<div ng-show="!info.pertemanan && !info.add && !info.confirm && !info.akunsendiri">
<!-- Template 1 : Untuk yang belum add sama sekali -->
    <div class="span2" >
        <img ng-src="{{ info.fotoprofil }}" class="img-circle">
    </div>

    <div class="span8">
        <a ng-href="#person-{{ info.id }}">
            <h3 class="friend-name" ng-bind="info.nama"></h2>
        </a>
    </div>

    <div class="span2">
        <div class="btn-group">
            <a class="btn dropdown-toggle btn-info" data-toggle="dropdown">
                Action 
                <span class="icon-cog icon-white"></span><span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li ng-click="$parent.requestFriend(info.id)"><a role="button"><span class="icon-trash"></span>Add Friend</a></li>
            </ul>
        </div>
    </div>
</div>

<div ng-show="info.pertemanan == 0 && info.add == 1 && info.confirm == 0 && info.akunsendiri == 0">
<!-- Template 2 : Untuk yg sudah add tapi belum diaprrove orang lain -->
    <div class="span2" >
        <img ng-src="{{ info.fotoprofil }}" class="img-circle">
    </div>

    <div class="span8">
        <a ng-href="#person-{{ info.id }}">
            <h3 class="friend-name" ng-bind="info.nama"></h2>
        </a>
    </div>

    <div class="span2">
        <div class="btn-group">
            <a class="btn dropdown-toggle btn-info" data-toggle="dropdown">
                Requested 
                <span class="icon-cog icon-white"></span><span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li ng-click="$parent.cancelrequestFriend(info.id)"><a role="button"><span class="icon-trash"></span>Cancel Request</a></li>
            </ul>
        </div>
    </div>
</div>

<div ng-show="info.pertemanan == 0 && info.add == 0 && info.confirm == 1 && info.akunsendiri == 0">
<!-- Template 3 : Untuk yg sudah add tapi belum kita aprrove -->
    <div class="span2" >
        <img ng-src="{{ info.fotoprofil }}" class="img-circle">
    </div>

    <div class="span8">
        <a ng-href="#person-{{ info.id }}">
            <h3 class="friend-name" ng-bind="info.nama"></h2>
        </a>
    </div>

    <div class="span2">
        <div class="btn-group">
            <a class="btn dropdown-toggle btn-info" data-toggle="dropdown">
                Respond 
                <span class="icon-cog icon-white"></span><span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li ng-click="$parent.acceptrequestFriend(info.id)"><a role="button"><span class="icon-trash"></span>Accept Request</a></li>
                <li ng-click="$parent.rejectrequestFriend(info.id)"><a role="button"><span class="icon-trash"></span>Reject Request</a></li>
            </ul>
        </div>
    </div>
</div>

<div ng-show="info.pertemanan == 1 && info.add == 0 && info.confirm == 0 && info.akunsendiri == 0">
<!-- Template 4 : Untuk yang sudah add dan aprrove -->
    <div class="span2" >
        <img ng-src="{{ info.fotoprofil }}" class="img-circle">
    </div>

    <div class="span8">
        <a ng-href="#person-{{ info.id }}">
            <h3 class="friend-name" ng-bind="info.nama"></h2>
        </a>
    </div>

    <div class="span2">
        <div class="btn-group">
            <a class="btn dropdown-toggle btn-info" data-toggle="dropdown">
                Friend 
                <span class="icon-cog icon-white"></span><span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li ng-click=""><a role="button"><span class="icon-trash"></span>Go to Profile</a></li>
                <li ng-click="$parent.delete(info.id)"><a role="button"><span class="icon-trash"></span>Remove Friend</a></li>
            </ul>
        </div>
    </div>
</div>

<div ng-show="info.pertemanan == 0 && info.add == 0 && info.confirm == 0 && info.akunsendiri == 1">
<!-- Template 5 : Untuk user (diri kita sendiri) -->
    <div class="span2" >
        <img ng-src="{{ info.fotoprofil }}" class="img-circle">
    </div>

    <div class="span8">
        <a href="#profil">
            <h3 class="friend-name" ng-bind="info.nama"></h2>
        </a>
    </div>

    <div class="span2">
        <div class="btn-group">
            <a class="btn dropdown-toggle btn-info" data-toggle="dropdown">
                Yourself 
                <span class="icon-cog icon-white"></span><span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li ng-click=""><a role="button"><span class="icon-trash"></span>Go to Profile</a></li>
            </ul>
        </div>
    </div>
</div>